
body {
  font:17px/1.4 Arial,Tahoma,Verdana,sans-serif;
  background:url(images/main_bg.jpg);
  color:#5e5e5e;
}
.ant-pagination {
  width: 100%;
  float: left;
  margin: 10px auto;
}
.posts {
  float:left;
  width: 18%;
  /*height:330px ;*/
  margin: 20px 10px;
}
.postImg{
  width: 100%;
  height: 120px;
  margin: 0 auto;
  border-bottom: 1px solid #abaeac;
}
.showImg{
  display: flex;
  align-items: center;
  margin: 20px auto;
  max-height: 350px;
}

.createForm{
  margin: 30px auto;
}

.title{
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
  font-style: oblique;
  word-wrap: break-word
}
.desc{
  margin-top: 20px;
  font-size: 15px;
  font-weight: 700;
  font-style: oblique;
  color: #404040;
  word-wrap: break-word
}
.content{
  font-style: oblique;
  font-weight: 500;
  font-size: 15px;
  word-wrap: break-word;

}